
.idea/compiler.xml
.idea/dictionaries/chenxy.xml
.idea/encodings.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
target/maven-archiver/pom.properties
target/version-management-1.0.0-SNAPSHOT.jar
version-management.iml
